.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.nome {
  display: inline-block;
  font-size: 30px;
  font-family: "Lekton", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #bd30ff;
}
.title{
  margin-right: 10px;
  display: inline-block;
  font-size: 30px;
  font-family: "Lekton", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
}

.subtitle {
  font-size: 18px;
  font-family: "Lekton", Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 15px 0;
}

.descricao{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.lista{
  list-style: inside;
  margin: 5px 0;
}

.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.box > div {
  background-color: #eee;
  width: 500px;
  height: 500px;
  margin: 10px;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 
}
